ssh.sample.script.folder=
ssh.sample.text.folder=
ssh.sample.output.folder=
ssh.sample.text.file=sampleFile.txt

ssh.client.usekey=true
ssh.client.pass.type.host.id=
ssh.client.pass.type.host=
ssh.client.pass.type.username=
ssh.client.pass.type.password=

ssh.invalid.client.pass.type.host.id=
ssh.invalid.client.pass.type.host=
ssh.invalid.client.pass.type.username=
ssh.invalid.client.pass.type.password=


ssh.client.key.type.host.id=
ssh.client.key.type.host=
ssh.client.key.type.username=
ssh.client.key.type.privatekey=

ssh.client.key.type.passphrase=
ssh.client.key.with.phrase.host.id=
ssh.client.key.with.phrase.host=
ssh.client.key.with.phrase.username=
ssh.client.key.with.phrase.privatekey=

ssh.client.key.with.phrase.passphrase=

ssh.client2.key.type.host.id=
ssh.client2.key.type.host=
ssh.client2.key.type.username=
ssh.client2.key.type.privatekey=

ssh.client2.key.type.passphrase=
ssh.client2.key.type.cachedFilePath=

ssh.invalid.client.key.type.host.id=
ssh.invalid.client.key.type.host=
ssh.invalid.client.key.type.username=
ssh.invalid.client.key.type.privatekey=

ssh.invalid.client.key.type.passphrase=


